<header class="fixed-header" color="primary">
<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/']">
      <img src="../../assets/dc_logo.jpg" alt="DC">
    </a>

    <span class="menu-spacer"></span>
    <a mat-button [routerLink]="['/services/image-enhancement']">
      Image Enhancement
    </a>
    <a mat-button [routerLink]="['/services/day-to-dusk']">
      Day To Dusk
    </a>
    <a mat-button [routerLink]="['/services/virtul-staging']">
      Virtual Staging
    </a>
    <a mat-button mat-button [routerLink]="['/services/item-removal']">
      Item Removal
    </a>
    <a mat-button mat-button [routerLink]="['/services/floor-plans']">
      Floor Plans
    </a>
    <a mat-button [routerLink]="['/about-us']">
      About Us
    </a>
    <a mat-button mat-button [routerLink]="['#contact_us']">
      Contact Us
    </a>
  </mat-toolbar-row>
</mat-toolbar>
</header>

