<header class="fixed-header" color="primary">
<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/']">
      <img src="../../assets/dc_logo.jpg" alt="DC">
    </a>

    <span class="menu-spacer"></span>
    <a mat-button [routerLink]="['/services/image-enhancement']">
      IMAGE ENHANCEMENT
    </a>
    <a mat-button [routerLink]="['/services/day-to-dusk']">
      DAY TO DUSK
    </a>
    <a mat-button [routerLink]="['/services/virtul-staging']">
      VIRTUAL STAGING
    </a>
    <a mat-button mat-button [routerLink]="['/services/item-removal']">
      ITEM REMOVAL
    </a>
    <a mat-button mat-button [routerLink]="['/services/floor-plans']">
      FLOOR PLANS
    </a>
    <a mat-button [routerLink]="['/about-us']">
      About Us
    </a>
    <a mat-button [routerLink]="['/examples']">
      Examples
    </a>
    <a mat-button [routerLink]="['/pricing']">
      Pricing
    </a>
    <a mat-button mat-button [routerLink]="['/contact-us']">
      Contact Us
    </a>
  </mat-toolbar-row>
</mat-toolbar>
</header>

