<section class="contact_sec" id="contact_us">
 <div class="container">
   <div class="heading w3-center">
     <h2>Contact Us</h2>
   </div>
   <div class="contact_form">
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
      region: "eu1",
      portalId: "25497460",
      formId: "8063fa3c-24c2-4cf3-bf5d-bdcbac497fdf"
    });
    </script>
   </div>
<!--    
   <div class="contact_form">
      <form [formGroup]="contactform" (ngSubmit)="submit()" #contact_Form>
        <div class="w3-row p">
        <div class="w3-col l4">
        <mat-form-field class="full-width" >
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" #name matInput placeholder="John">
            <mat-error *ngIf="name.oninvalid">
              Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        </div>
        <div class="w3-col l4">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" #email matInput
                 placeholder="abc@example.com">
          <mat-error *ngIf="email.oninvalid">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
        <div class="w3-col l4">
        <mat-form-field class="full-width">
            <mat-label>Link of files (If any)</mat-label>
            <input type="url" formControlName="link" matInput placeholder="https://www.something/com/files">
        </mat-form-field>
        </div>
        <div class="w3-col s12">
          <mat-form-field class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
        </div>
        </div>
        
        <div class="submit_btn w3-center">
          <button type="submit" mat-flat-button color="primary">Submit</button>
        </div>
      </form>  
   </div>
    -->
 </div> 
</section>