
<section class="contact_sec" id="contact_us">
 <div class="container">
   <div class="heading w3-center">
     <h2>Contact Us</h2>
   </div>

   
   <div class="contact_form">
      <form [formGroup]="contactform" (ngSubmit)="submit()" #contact_Form>
        <div class="w3-row p">
        <div class="w3-col l6">
        <mat-form-field class="full-width" >
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="firstname" #name matInput placeholder="John">
            <mat-error *ngIf="name.oninvalid">
              First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        </div>
        <div class="w3-col l6">
          <mat-form-field class="full-width" >
              <mat-label>Last Name</mat-label>
              <input type="text" formControlName="lastname" #name matInput placeholder="Doe">
          </mat-form-field>
          </div>
        <div class="w3-col l6">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" #email matInput
                 placeholder="abc@example.com">
          <mat-error *ngIf="email.oninvalid">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
        <div class="w3-col l6">
        <mat-form-field class="full-width">
            <mat-label>Link of files (If any)</mat-label>
            <input type="url" formControlName="link_of_files__if_any_" matInput placeholder="https://www.something/com/files">
        </mat-form-field>
        </div>
        <div class="w3-col s12">
          <mat-form-field class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
        </div>
         <input type="hidden" formControlName="hutk" value=""/>
        </div>
        
        <div class="submit_btn w3-center">
          <button type="submit" mat-flat-button color="primary">Submit</button>
        </div>
      </form>  
   </div>
  
 </div> 
</section>