<div class="banner">
 <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of HomeSlides">
      <ng-template carouselSlide>
        <img [src]="slide.src" [alt]="slide.title">
        <div class="details w3-row">
          <div class="before w3-col m6" color="accent"><span>Before</span></div>
          <div class="after w3-col m6" color="warn"><h4>{{slide.title}}</h4> <span>After</span></div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<section class="uspes">
  <div class="container">
    <div class="w3-center">
      <h2>Proficient PHOTO EDITING, VIRTUAL STAGING, FLOOR PLAN REDRAWS, and RENDERS AT UNBEATABLE PRICES</h2>
    </div>
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="heading w3-center">
      <h2>Services we Provide</h2>
    </div>
    <div class="w3-row p">
     <div class="w3-col m6 l3" *ngFor="let service of HomeServices">
       <a [routerLink]="['/services/'+service.route]" class="service_box">
        <mat-card>
        <img mat-card-image [src]="service.thumb" [alt]="service.title">
        <mat-card-content class="service_info-">
          <mat-card-title>{{service.title}}</mat-card-title>
          <p>{{service.description}}</p>
          <div class="w3-center">
            <button mat-stroked-button color="warn" [routerLink]="['/services/'+service.route]">Read More</button>
          </div>
        </mat-card-content>
        </mat-card>
       </a> 
      </div>
    </div>
  </div>
</section>

<app-review></app-review>